<form id="create-a-game">
  <label for="raid">Which raid are you running?</label>
  <select name="raid">
    <option value="1">Crota's end [normal]</option>
    <option value="2">Crota's end [hard]</option>
    <option value="3">Kings fall [normal]</option>
    <option value="4">Kings fall [hard]</option>
    <option value="5">Vault of glass [normal]</option>
    <option value="6">Vault of glass [hard]</option>
    <option value="7">Wrath of the machine [normal]</option>
    <option value="8" selected="selected">Wrath of the machine [hard]</option>
  </select>

  <fieldset>
    <legend>How many players do you need?</legend>

    <label for="1">1</label>
    <input type="radio" name="players" id="one" value="1" />

    <label for="2">2</label>
    <input type="radio" name="players" id="two" value="2" />

    <label for="3">3</label>
    <input type="radio" name="players" id="three" value="3" />

    <label for="4">4</label>
    <input type="radio" name="players" id="four" value="4" />

    <label for="5">5</label>
    <input type="radio" name="players" id="five" value="5" />
  </fieldset>

  <button type="submit">Submit</button>
</form>