<layout-use('../../common/layouts/default.marko') errors=data.errors>
  <layout-put into="content">

    <h1>Await response</h1>

	<script src="/javascripts/jquery-3.1.1.min.js"></script>
	<script src="/javascripts/await.js"></script>
  </layout-put>
</layout-use>