<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
  </head>
  <body>
    <if (data.error)>
      <ul>
        <li>${data.error}</li>
      </ul>
    </if>

    <layout-placeholder name="content"/>
  </body>
</html>