<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css"/>
  </head>
  <body>
    <if (data.errors)>
      <ul>
        <for(error in data.errors)>
          <li>${error}</li>
        </for>
      </ul>
    </if>

    <h1>Raidr</h1>

    <div id="content">
      <layout-placeholder name="content"/>
    </div>
  </body>
</html>