<layout-use('../../common/layouts/default.marko') errors=data.errors>
  <layout-put into="content">

    <h1>You are not in orbit</h1>

    <p>
      Everybody has their raid gear on and is ready to go. You should do the same.
      When you're ready to raid, go to orbit and Raidr will help you find a team.
    </p>

  </layout-put>
</layout-use>